/* Reset */

* {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box; 
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul{
  list-style: none;
}

a{
  color: #333;
  text-decoration: none;
}

/* Navbar */
.navbar{
  margin: 10px;
  display: flex;
  /* flex-direction: row; */
  /* width: 100%; */
  justify-content: space-between;
}

.navbar h1{

}

.navbar ul{
  display: flex;
  align-items: flex-end;
}

.navbar ul li{
  padding: 10px 20px;
  border: 5px;
  text-align: center;
}